#server-list {
  width:600px;
  margin-top:20vh;
  background: lightblue;
  height:auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  .server-list-item {
    display: flex;
    flex-flow:row;
    justify-content: space-around;
    width:100%;
    height:20px;
    background: green;
    text-align: center;
    color:white;
    margin:5px 0;
  }
}
