#room-page {
display: flex;
flex-flow: column;
justify-content: center;
margin:0 auto;
width:60vw;
#room-details {
  width:100%;
  display: flex;
  flex-flow: column;
  height:600px;
  margin-top: 5vh;
  background: $white;
  color:$black;
  h3 {
    text-align: center;
  }
  #players-list {
    margin-left: 50px;
    display: flex;
    flex-flow: column;
  }
}
#start-game {
  background: $green2;
  color:$white;
  width:150px;
  padding:5px;
  margin-top: 90px;
  cursor: pointer;
  margin-left: 50px;
}
}
